.App {
  text-align: center;
  background-color: #FAF9F8;
  height: 97vh
}

.unauthorized {
  color: #383838;
}

.home {
  height: 103vh;
  background-size: cover;
}

.card {
  text-align: left;
  margin-top: 10px;
}

.caption {
  color: gray
}

.home {
}